@import url('https://fonts.googleapis.com/css?family=Barlow:500,700');
body {
    margin: 0;
    font-family: 'Barlow', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #EFF2F7;
}

.fade-enter {opacity: 0;}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in-out 150ms;
}

.fade-exit {opacity: 1;}

.fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in-out 150ms;
}

.transition-group {position: relative;}